[Unit]
Description=ROS 2 Jetson Stats Node with Namespace
After=network.target

[Service]
# Adjust these variables to match your environment
User=indro
Group=indro
Type=simple

# Setup the ROS 2 environment and run the command
ExecStart=/bin/bash -c "source /opt/ros/humble/setup.bash; \
                       source /home/indro/colcon_ws/install/setup.bash && ros2 run ros2_jetson_stats ros2_jtop --ros-args -r __ns:=/jtop -p interval:=1.0 "

# Auto-restart configuration
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
